@charset "UTF-8";

.abc {
    color: red;
}

h1.headline {
    color: red;
}

.abc2 {
    color: red;
}

/* .abcというクラスを持つ要素の中にある、すべての子孫要素の文字色を赤にする */
.abc * {
    color: red;
}

/* .abc2の直下にある、pタグの隣のpタグのみの文字色を青にする */
.abc2>p+p {
    color: blue;
}


.abc>a:hover {
    color: red;
}

.box {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}

.line {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    margin: 2px;
    display: block;
}

.line2 {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    margin: 2px;
    display: inline-block;
}