@charset "UTF-8";


/* divの書式を指定している　divは箱のようなもの */
div {
    background-color: aqua;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

div.div2 {
    background-color: silver;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
    /* %はウィンドウサイズに合わせて大きさが変わる */
}


/* Textの書式を指定している */
p {
    color: red;
    background-color: blue;
    /* 画像の表示 */
    background-image: url("./spotlight - コピー.jpg");
    font-weight: bold;
    font-size: 80px;

    /* テキスト間の幅を広げる */
    line-height: 1.2;
}